In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('vital_data.csv')
#data = pd.read_csv('vital_data_test.csv')
data.head(10)

,subject_id,stay_id,icu_intime,charttime,heart_rate,mbp,resp_rate,temperature,spo2,p1,p2
0,12207593,30000646,2194-04-29T01:39:22,2194-04-29T01:41:00,100.0,75.0,28.0,NaN,97.0,0,1
1,12207593,30000646,2194-04-29T01:39:22,2194-04-29T03:00:00,97.0,67.0,19.0,NaN,94.0,1,1
2,12207593,30000646,2194-04-29T01:39:22,2194-04-29T04:00:00,93.0,67.0,18.0,NaN,98.0,2,1
3,12207593,30000646,2194-04-29T01:39:22,2194-04-29T05:00:00,87.0,73.0,24.0,37.11,98.0,3,1
4,12207593,30000646,2194-04-29T01:39:22,2194-04-29T05:55:00,89.0,NaN,32.0,NaN,91.0,4,1
5,12207593,30000646,2194-04-29T01:39:22,2194-04-29T06:40:00,94.0,56.0,33.0,NaN,NaN,5,1
6,12207593,30000646,2194-04-29T01:39:22,2194-04-29T08:00:00,94.0,56.0,23.0,37.89,93.0,6,1
7,12207593,30000646,2194-04-29T01:39:22,2194-04-30T00:00:00,87.0,67.0,22.0,36.67,95.0,22,1
8,12207593,30000646,2194-04-29T01:39:22,2194-04-30T01:00:00,85.0,56.0,16.0,NaN,96.0,23,1
9,16513856,30001446,2186-04-12T03:49:00,2186-04-12T04:00:00,82.0,NaN,22.0,36.72,90.0,0,1

In [3]:
data.count()

subject_id     129
stay_id        129
icu_intime     129
charttime      129
heart_rate     106
mbp             87
resp_rate      103
temperature     29
spo2            96
p1             129
p2             129
dtype: int64

In [4]:
#均填入当前表格的总条数
i=129
total=129


#提前填入一个对象作为初始化
#第一个对象
target_id=0
#上一个对象
target_last = 0
#临时存储对象
#newdata=pd.DataFrame(columns=['subject_id','stay_id','icu_intime','charttime','heart_rate','mbp','resp_rate','temperature','spo2','p1','p2'])
newdata=pd.DataFrame({'subject_id':[1],'stay_id':[1],'icu_intime':['2194-04-29T01:39:22'],'charttime':['2134-06-05T05:00:00']
                                                   ,'heart_rate':[1],'mbp':[1],'resp_rate':[1],'temperature':[1],'spo2':[1],
                                                'p1':[23],'p2':[1]})
print(newdata)

   subject_id  stay_id           icu_intime            charttime  heart_rate  \
0           1        1  2194-04-29T01:39:22  2134-06-05T05:00:00           1

   mbp  resp_rate  temperature  spo2  p1  p2
0    1          1            1     1  23   1

In [5]:
for row in data.itertuples():
    #原表记录是否都遍历完整
    if i==-1 :
        #已遍历完毕
        break
    else:
        #待处理数计算
        i=i-1
        print("剩余个数：",i)
        #s1.与上一个对象进行对比，判断是否为新对象:stay_id vs target_id
        #新对象
        if row.stay_id != target_id :
            #处理尾部数据
                #看看上一个最后一条记录是否为p1=23（是否缺尾部数据） or (target_last==0初始判断)
                if target_last==0 or target_last.p1==23:
                   pass
                else:
                    #缺尾部
                    k=23-target_last.p1
                    ad=target_last.p1+1
                    while ad<= 23:
                        data_temp=pd.DataFrame({'subject_id':[target_last.subject_id],'stay_id':[target_last.stay_id],'icu_intime':[target_last.icu_intime],'charttime':[target_last.charttime]
                                                   ,'heart_rate':[target_last.heart_rate],'mbp':[target_last.mbp],'resp_rate':[target_last.resp_rate],'temperature':[target_last.temperature],'spo2':[target_last.spo2],
                                                'p1':[ad],'p2':[1]})
                        #【利用pd.concat([df1,df2], ignore_index=True)合并两个dataframe】为其中一个dataframe添加行的操作
                        newdata=pd.concat([newdata,data_temp], ignore_index=True)
                        ad=ad+1
                    #统计总数
                    total = total+k
                    print("当前总数：",total)
            #处理头部数据
                #s3 target_id更新为当前stay_id
                target_id = row.stay_id
                if row.p1 ==0:
                    # 为0则不需要操作
                    pass
                else:
                    # 不为0，则表明连第一次记录都缺，需要插入新值
                    k=(row.p1-1)-0
                    ad=0
                    while ad!= row.p1:
                        data_temp=pd.DataFrame({'subject_id':[row.subject_id],'stay_id':[row.stay_id],'icu_intime':[row.icu_intime],'charttime':[row.charttime]
                                                       ,'heart_rate':[row.heart_rate],'mbp':[row.mbp],'resp_rate':[row.resp_rate],'temperature':[row.temperature],'spo2':[row.spo2],
                                                    'p1':[ad],'p2':[1]})
                        newdata=pd.concat([newdata,data_temp], ignore_index=True)
                        ad=ad+1
                    #统计总数
                    total = total+k
                    print("当前总数：",total)
         #非新对象
        else:
            #s4.target_id不变
                #p1值是否为上一个p1值+1
            if row.p1==(target_last.p1 + 1):
                    #是，不用操作
                    pass
            else:
                    #否,插入新的记录，条数为差额
                    k=(row.p1-1)-target_last.p1
                    ad=target_last.p1+1
                    while ad!= row.p1:
                        data_temp=pd.DataFrame({'subject_id':[row.subject_id],'stay_id':[row.stay_id],'icu_intime':[row.icu_intime],'charttime':[row.charttime]
                                                   ,'heart_rate':[row.heart_rate],'mbp':[row.mbp],'resp_rate':[row.resp_rate],'temperature':[row.temperature],'spo2':[row.spo2],
                                                'p1':[ad],'p2':[1]})
                        newdata=pd.concat([newdata,data_temp], ignore_index=True)
                        ad=ad+1
                    #统计总数
                    total = total+k
                    print("当前总数：",total)
        #刷新一下“上个对象”为当前对象
        target_last = row

#合并两个表
dataconcat=pd.concat([data,newdata], ignore_index=True)
#【利用dataframe。.sort_values(by=['col1', 'col2'])】根据选中的列值进行重新排序
dataconcat=dataconcat.sort_values(by=['stay_id', 'p1'])
print(dataconcat)

剩余个数： 128
剩余个数： 127
剩余个数： 126
剩余个数： 125
剩余个数： 124
剩余个数： 123
剩余个数： 122
剩余个数： 121
当前总数： 144
剩余个数： 120
剩余个数： 119
剩余个数： 118
剩余个数： 117
剩余个数： 116
剩余个数： 115
剩余个数： 114
剩余个数： 113
剩余个数： 112
剩余个数： 111
剩余个数： 110
剩余个数： 109
剩余个数： 108
剩余个数： 107
剩余个数： 106
剩余个数： 105
剩余个数： 104
剩余个数： 103
剩余个数： 102
当前总数： 151
当前总数： 157
剩余个数： 101
剩余个数： 100
剩余个数： 99
剩余个数： 98
剩余个数： 97
剩余个数： 96
剩余个数： 95
当前总数： 163
剩余个数： 94
剩余个数： 93
剩余个数： 92
剩余个数： 91
剩余个数： 90
剩余个数： 89
剩余个数： 88
剩余个数： 87
剩余个数： 86
剩余个数： 85
剩余个数： 84
剩余个数： 83
剩余个数： 82
剩余个数： 81
剩余个数： 80
当前总数： 164
剩余个数： 79
剩余个数： 78
剩余个数： 77
当前总数： 173
当前总数： 176
剩余个数： 76
剩余个数： 75
剩余个数： 74
剩余个数： 73
剩余个数： 72
剩余个数： 71
剩余个数： 70
剩余个数： 69
剩余个数： 68
剩余个数： 67
当前总数： 177
剩余个数： 66
剩余个数： 65
剩余个数： 64
当前总数： 178
剩余个数： 63
剩余个数： 62
剩余个数： 61
剩余个数： 60
剩余个数： 59
剩余个数： 58
剩余个数： 57
剩余个数： 56
剩余个数： 55
当前总数： 187
剩余个数： 54
剩余个数： 53
剩余个数： 52
剩余个数： 51
剩余个数： 50
剩余个数： 49
剩余个数： 48
剩余个数： 47
当前总数： 190
剩余个数： 46
剩余个数： 45
剩余个数： 44
剩余个数： 43
剩余个数： 42
剩余个数： 41
剩余个数： 40
剩余个数： 39
剩余个数： 38
当前总数： 198
剩余个数： 37
剩余个数： 36
剩余个数： 35
剩余个数： 34
剩余个数： 33
剩余个数： 32
剩余个数： 31
剩余个数： 30
剩余个数： 29
剩余个数： 28
剩余个数： 27
剩余个数： 26
剩余个数： 25
剩余个数： 24
剩余个数： 23
剩余个数： 22
剩余个数： 21
当前总数： 203
剩余个数： 20
剩余个数： 19
剩余个数： 18
剩余个数： 17
剩余个数： 16
剩余个数： 15
剩余个数： 14
剩余个数： 13
剩余个数： 12
剩余个数： 11
剩余个数： 10
剩余个数： 9
当前总数： 207
剩余个数： 8
剩余个数： 7
剩余个数： 6
剩余个数： 5
剩余个数： 4
剩余个数： 3
剩余个数： 2
剩余个数： 1
剩余个数： 0
     subject_id   stay_id           icu_intime            charttime  \
129           1         1  2194-04-29T01:39:22  2134-06-05T05:00:00
0      12207593  30000646  2194-04-29T01:39:22  2194-04-29T01:41:00
1      12207593  30000646  2194-04-29T01:39:22  2194-04-29T03:00:00
2      12207593  30000646  2194-04-29T01:39:22  2194-04-29T04:00:00
3      12207593  30000646  2194-04-29T01:39:22  2194-04-29T05:00:00
..          ...       ...                  ...                  ...
124    10369174  30004144  2126-04-04T13:20:25  2126-04-05T02:00:00
125    10369174  30004144  2126-04-04T13:20:25  2126-04-05T03:00:00
126    10369174  30004144  2126-04-04T13:20:25  2126-04-05T04:00:00
127    10369174  30004144  2126-04-04T13:20:25  2126-04-05T05:00:00
128    10369174  30004144  2126-04-04T13:20:25  2126-04-05T06:00:00

     heart_rate   mbp  resp_rate  temperature  spo2  p1  p2
129         1.0   1.0        1.0         1.00   1.0  23   1
0         100.0  75.0       28.0          NaN  97.0   0   1
1          97.0  67.0       19.0          NaN  94.0   1   1
2          93.0  67.0       18.0          NaN  98.0   2   1
3          87.0  73.0       24.0        37.11  98.0   3   1
..          ...   ...        ...          ...   ...  ..  ..
124        74.0  82.0       23.0        36.39  96.0  12   1
125        68.0  65.0       23.0          NaN  94.0  13   1
126        69.0  73.0       25.0          NaN  95.0  14   1
127        61.0  60.0       20.0          NaN  95.0  15   1
128         NaN  82.0        NaN          NaN  99.0  16   1

[210 rows x 11 columns]

In [6]:
dataconcat.to_csv('vital_data_filled.csv')